- if @user_story.errors.any?
  #error_explanation
    %h2
      = pluralize(@user_story.errors.count, "error")
      prohibited this user_story from being saved:
    %ul
      - @user_story.errors.full_messages.each do |message|
        %li= message
.field
  = f.label :name
  %br/
  = f.text_field :name
.field
  = f.label :description
  %br/
  = f.text_area :description
.field
  = f.label "Participants:"
  %br/
  %table.table-striped.container
    %tr
      %th
      %th First name
      %th Last name
      %th Email
    - @user_story.project.users.each do |user|
      %tr
        %td
          .checkbox= check_box_tag "user_id[]", user.id, @user_story.users.include?(user)
        %td= user.first_name
        %td
          = user.last_name
        %td= user.email