<%= f.label :state %><br/>
<div class= "btn-group">
<%= f.label :state, "Open", :value => "0", class: @user_story.get_class(0), style: "background-color:#FF6699; "%>
<% @f = f ; %>
<%= @f.radio_button :state, 0, :checked => @user_story.open?,:onclick => '$(this).trigger("submit.rails");', class: "radiobutton"%>
<%= @f.label :state, "In process", :value => "1", class: @user_story.get_class(1), style: "background-color:#CCCC33;"  %>
<%= @f.radio_button :state, 1 , :checked => @user_story.in_process?, class: "radiobutton"%>
<%= @f.label :state, "To be verified", :value => "2", class: @user_story.get_class(2), style: "background-color:#3399FF;"  %>
<%= @f.radio_button :state, 2, :checked => @user_story.to_be_verified?, class: "radiobutton" %>
<% if current_user.id == @user_story.project.creator_id %>
<%= @f.label :state, "completed", :value => "3", class: @user_story.get_class(3), style: "background-color:#00FF33;" %>
<%= @f.radio_button :state, 3, :checked => @user_story.completed?, class: "radiobutton" %>
<% end %>
</div>