
<p>
  <strong>Name:</strong>
  <%= @user_story.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_story.description %>
</p>
<%= form_for(@user_story) do |f| %>
  <div class="field">
      <div id="states">
        <%= render "states", :f => f %>  
      </div>   
      <br/>
      <%= f.label 'Tasks:'%>
      <ol>
      <%= form_tag ("/user_stories/#{params[:id]}/update_tasks") do %>
      <% @user_story.tasks.each do |task|%>
        <li>
          <%= check_box_tag "tasks_done[]", task.id, task.done %>
          <%= task.description%>
        </li>
      <%end%>


    </ol>
      <%= link_to 'Add task', "/user_stories/#{@user_story.id.to_s}/add_task"%>
  </div>
   <%= submit_tag "Update User story", remote: true %>
      <%end%>
<%end%>
<%= link_to 'Back', "/projects/#{@user_story.project_id}" %>
