<% if(can? :show, @user_story)%>
<br/>
<p>
  <h2><%= @user_story.name %></h2>

</p>

<p>
  <strong>Description:</strong><br/>
  <%= @user_story.description %>
</p>
  <% if can? :set_completed, @user_story, @user_story.project %>
  <h2>
    <%= link_to "Edit User Story",edit_user_story_path(@user_story) %>
  </h2>
  <% end %>
<h2>Participants:</h2>
	<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
  </tr>
<% @user_story.users.each do |user| %>
    <tr>
      <td>
        <%= user.first_name %>
      </td>
      <td>
        <%= user.last_name %>
      </td>
      <td>
        <%= user.email %>
      </td>
    </tr>
  <% end %>
</table>
<h2>State</h2>
<div class="states">
  
        <%= render "states", us: @user_story, disabled: false%> 
        
</div>
<div id="tasks">
<%= render "tasks", us: @user_story, disabled: false%>
</div>
<%= render "files", us: @user_story %>
<%= render '/home/comments', :commentable => @user_story, path: add_user_stoires_comments_path %>
<%= link_to 'Back', "/projects/#{@user_story.project_id}" %>
<%else %>  
<% controller.redirect_to '/users/profile', notice: "You cannot view user story."<<@user_story.project.creator_id.to_s<<"   SSS  "<<current_user.id.to_s<<"   SASD   " %>
<% end%>