<p>
  <h2><strong><%= @user_story.name %></strong></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_story.description %>
</p>
<%= form_for(@user_story) do |f| %>
  <div class="field">
      <div id="states">
        <%= render "states", :f => f %>  
      </div>   
      <br/>
      <%= f.label 'Tasks:'%>
      <ol>
      <%= form_tag ("/user_stories/#{params[:id]}/update_tasks") do %>
      <% @user_story.tasks.each do |task|%>
        <li>
          <%= check_box_tag "tasks_done[]", task.id, task.done %>
          <%= task.description%>
        </li>
      <%end%>


    </ol>
      <%= link_to 'Add task', "/user_stories/#{@user_story.id.to_s}/add_task"%>
  </div>
      <%= f.label 'Files:'%> <br/>
       <% @user_story.desc_files.each do |file|%>
        <li>
          <%= file.file.original_filename%>
          <%= link_to "Download", file.file.url(:original, false) %>
        </li>
      <%end%>
      <%= link_to 'Add File', "/user_stories/#{@user_story.id.to_s}/add_file"%><br/>
   <%= submit_tag "Update User story", remote: true %>
      <%end%>
<%end%>
<%= render '/projects/comments', :commentable => @user_story, :path => "/user_stories/#{@user_story.id}/add_comment"%>
<%= link_to 'Back', "/projects/#{@user_story.project_id}" %>
