- if user_signed_in?
  .span6.pull-right{:style => "text-align:right"}
    .container{:style => "display: inline;"}
      = image_tag(current_user.avatar.url(:thumb) , height: '100', width: '100', :class => "img-thumbnail")
  %p
    %strong
      %h3 
        = current_user.first_name
        = current_user.last_name
  %p
    %strong Email:
    = current_user.email
  - if current_user.admin
    = link_to "Show All users", controller: "/users", action: "index"
  %strong 
    %h3 
      Search projects
  = search_form_for @search, url: '/users/profile',html: { method: :get } do |f|
    = f.label :name_cont, 'Project Title'
    %br/
    = f.text_field :name_cont
    %br/
    = f.label :description_cont, 'Description'
    %br/
    = f.text_area :description_cont
    %br/
    = f.label :user_stories_name_cont, 'User Story Name'
    %br/
    = f.text_field :user_stories_name_cont
    %br/
    %br/
    = f.submit 'Search'
  %strong All Projects:
  = render 'projects'

  %li
    = link_to 'Add new project', '/projects/new'
- else controller.redirect_to "/home/not_found"
