<%= form_for us,:url => modal_update_state_url, method: :post, remote: true do |f| %>
<%= f.hidden_field :id %>
<%= f.label :state %><br/>
<div class= "btn-group">
<%= f.label :state, "Open", :value => "0", class: us.get_class(0), style: "background-color:#FF3366; ", :for => "toti_"<<us.id.to_s%>
<%= f.radio_button :state, 0,:value => "0", :checked => us.open?,class: "radiobutton", :onclick => '$(this).trigger("submit.rails");', id: "toti_"<<us.id.to_s%>
<%= f.label :state, "In process", :value => "1", class: us.get_class(1), style: "background-color:#FF9933;", for: "posi_"<<us.id.to_s  %>
<%= f.radio_button :state, 1 , :value => "1",:checked => us.in_process?, class: "radiobutton", :onclick => '$(this).trigger("submit.rails");', id: "posi_"<<us.id.to_s%>
<%= f.label :state, "To be verified", :value => "2", class: us.get_class(2), style: "background-color:#3399FF;", for: "koki_"<<us.id.to_s %>
<%= f.radio_button :state, 2,:value => "2", :checked => us.to_be_verified?, class: "radiobutton", :onclick => '$(this).trigger("submit.rails");', id: "koki_"<<us.id.to_s%>
<% if current_user.id == us.project.creator_id %>
<%= f.label :state, "completed", :value => "3", class: us.get_class(3), style: "background-color:#00CC00;" ,for: "boki_"<<us.id.to_s%>
<%= f.radio_button :state, 3,:value => "3", :checked => us.completed?, class: "radiobutton",:onclick => '$(this).trigger("submit.rails");', id: "boki_"<<us.id.to_s %>
<% end %>
</div>
<%end%>