- if(can? :show, @project)
  = render 'user_stories'
  %h2= @project.name
  %p
    %strong
      = "Description:"
    %br/
    = @project.description
  - if current_user.id == @project.creator_id
    %h2
      = link_to "Edit project", edit_project_path(@project)
  %h2 Members
  %table.table
    %tr
      %th First name
      %th Last name
      %th Email
    - @project.users.each do |user|
      %tr
        %td= user.first_name
        %td
          = user.last_name
        %td
          = user.email

  %h2 User stories:
  .container{id: "columns"}
    = render 'columns', project: @project
  %br/
  - if current_user.id == @project.creator_id
    = link_to "Add user story", "/projects/"<<@project.id.to_s<<"/add_user_story"
    %br/
  %br/
  = render '/home/comments', commentable: @project, path:add_project_comments_path
- else 
  - controller.redirect_to '/users/profile', notice: 'You cannot view project.'
