%h1= @project.name
%p= @project.description
- if current_user.id == @project.creator_id
  %h2
    = link_to "Edit project", edit_project_path(@project)
%h2 Members
%table.table
  %tr
    %th First name
    %th Last name
    %th Email
  - @project.users.each do |user|
    %tr
      %td= user.first_name
      %td
        = user.last_name
      %td
        = user.email
- if current_user.id == @project.creator_id
  = link_to "Add user story", "/projects/"<<@project.id.to_s<<"/add_user_story"
  %br/
%br/
%h2 User stories:
%br/
%div{:style => "background-color: #FF6699; position: relative; float: left; width: 278px;"}
  %strong Open
%div{:style => "background-color: #CCCC33; position: relative; float:left;width: 292px;"}
  %strong In Process
%div{:style => "background-color: #3399FF; position: relative; float: left; width: 292px;"}
  %strong To be Verified
%div{:style => "background-color: #00FF33; relative; float: left; width: 240px;"}
  %strong Completed
%ol{:style => "background-color:#FF6699; position: relative; float: left; width: 278px;"}
  - @project.user_stories.each do |story|
    - if story.state == 0 || story.state.nil?
      %li
        = story.name
        = link_to 'show', story
%ol{:style => "background-color:#CCCC33; position: relative; float:left;width: 292px; "}
  - @project.user_stories.each do |story|
    - if story.state == 1
      %li
        = story.name
        = link_to 'show', story
%ol{:style => "background-color:#3399FF;position: relative; float: left; width: 292px;"}
  - @project.user_stories.each do |story|
    - if story.state == 2
      %li
        = story.name
        = link_to 'show', story

%ol{:style => "background-color:#00FF33;position: relative; float: left; width: 240px;"}
  - @project.user_stories.each do |story|
    - if story.state == 3
      %li
        = story.name
        = link_to 'show', story,  {:style=>"color:#FFFFFF;"}
%br/
= render 'comments' ,:commentable => @project, :path => "/projects/#{@project.id}/add_comment"
/
  <p>
  <strong>Name:</strong>
  <haml_loud> @project.name </haml_loud>
  </p>
  
  <p>
  <strong>Description:</strong>
  <haml_loud> @project.description </haml_loud>
  </p>
  <p>
  <strong>Participants:</strong>
  <ul>
  <haml_silent>   @project.users.each do |user|
  </haml_silent><haml_block><li>  <haml_loud> user.email </haml_loud> </li>
  </haml_block></ul>
  </p>
  
  <haml_loud> link_to &#39;Edit&#39;, edit_project_path(@project) </haml_loud> |
  <haml_loud> link_to &#39;Back&#39;, &#39;/users/profile&#39; </haml_loud>
